include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    title Portfolio | main page
  body
    .wrapper      

      .scroll
        .scroll__box
          .scroll__text Скролл
          .scroll__icon-area
            +icon('scroll', 'scroll__icon')

      header.header.header__container
        .logo ен
        +nav('nav nav--header', 'nav__list', 'nav__item', 'nav__link', 'Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться')
        +social('social social--header', 'social__list', 'social__item', 'social-icon-area', 'social-icon', 'insta', 'vk', 'github')
        .hamburger
          a(href="").hamburger-menu-link
            div(id="hamburger-animated").hamburger-menu-link__animated
              span
      
      .welcome
        section.parallax
          .parallax__layer(data-speed="1")
            img(src=require("images/content/parallax/1.png")).parallax__image
          .parallax__layer(data-speed="2")
            img(src=require("images/content/parallax/2.png")).parallax__image
          .parallax__layer(data-speed="3")
            img(src=require("images/content/parallax/3.png")).parallax__image
          .parallax__layer(data-speed="4")
            img(src=require("images/content/parallax/4.png")).parallax__image
          .parallax__layer(data-speed="5")
            img(src=require("images/content/parallax/5.png")).parallax__image
          .parallax__layer(data-speed="6")
            img(src=require("images/content/parallax/6.png")).parallax__image
          .parallax__layer(data-speed="7")
            img(src=require("images/content/parallax/7.png")).parallax__image
          

          section.section.maincontent
            .container.maincontent__container
              .site
                .site__short Личный сайт веб разработчика
                .site__full Еловский Николай              
          
          section.section.main-info
            .container.main-info__container
              .short-bio
                .short-bio__pic-area
                  +image('content/user.jpg', 'short-bio__user-pic')
                .charcs
                  ul.charcs__list
                    li.charcs__item.charc
                      .charc__name Проживаю:
                      .charc__value Сочи
                    li.charcs__item.charc
                      .charc__name Возраст:
                      .charc__value 34 года
                    li.charcs__item.charc
                      .charc__name Родился:
                      .charc__value 22 июля 1985
              .full-bio
                .greetings Привет, меня зовут
                .my-name Николай Еловский
                .about-me Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about-site Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          
          .welcome__polygon

      section.section.skills
        .container.skills__container
          .skills__big-pic
            +image('content/backpack.png', 'skill-img')
          .skills__box
            .skills__heeadline.container-headline Чем я могу быть полезен вам
            .skills__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            #skill-component

      section.section.portfolio
        .container.portfolio__container
          .container-headline Мои работы
          #projects-component

      .goodbye
        .goodbye__polygon
        section
          .reviews
            #reviews-container

          .feedback
            .container.feedback__container
              .feedback__headline.container-headline Связаться со мной
              form.form
                .feedback__fields
                  ul.fields__list
                    li.fields__item
                      +addField('field__name', 'Введите ваше имя', 'field__value', 'Ковальчук Дмитрий', 'field__pic-area', 'avatar', 'field__pic')
                    li.fields__item
                      +addField('field__name', 'Введите ваш email', 'field__value', 'loftschool@study.com', 'field__pic-area', 'envelope', 'field__pic')
                    li.fields__item
                      +addField('field__name', 'Сообщение к письму', 'field__value', 'Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса', 'field__pic-area', 'chat', 'field__pic')
                button(class='btn btn--velvet' type='submit' id='send-button') Отправить

      footer.footer
        .container.footer__container
          .footer__left
            .footer__copyright ©2020
            .footer__block
              .footer__author Николай Еловский
              .footer__site Личный сайт веб-разработчика
          .footer__right
            +nav('nav nav--footer', 'nav__list nav__list--footer', 'nav__item', 'nav__link nav__link--footer', 'Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться')
            .footer__about.about
              .footer__info Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
              +social('social social--footer', 'social__list', 'social__item', 'social-icon-area social-icon-area--circle', 'social-icon social-icon--light', 'insta', 'vk', 'github')
            .footer__quoute.quoute
              .quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              .quote__author Martin Golding
    
    script(src="https://unpkg.com/swiper/js/swiper.min.js")
    include ./templates/entry.pug