mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav(navClassName, ulClassName, liClassName, linkClassName, ...items)
  nav(class=navClassName)
    ul(class=ulClassName)
      each item in items
        li(class=liClassName)
          a(class=linkClassName href="#")&attributes(attributes)= item

mixin tags(ulClassName, liClassName, spanClassName, ...items)
  ul(class=ulClassName)
    each item in items
      li(class=liClassName)
        span(class=spanClassName)&attributes(attributes)= item

mixin addField(nameClassName, nameValue, valueClassName, placeholderValue, iconAreaClassName, iconPath, iconClassName)
  label.field__label
    div(class=iconAreaClassName)
    span(class=nameClassName)&attributes(attributes)= nameValue
  div.field__box
    div(class=iconAreaClassName)
      +icon(iconPath, iconClassName)
    input(class=valueClassName type='text' value=placeholderValue required)

mixin pieChart(power, name)
  div(class='pie-wrapper progress-45 styler')
    span.label&attributes(attributes)= power
    div.pie
      div(class='left-side half-circle')
      div(class='right-side half-circle')
    div.shadow

mixin social(socialClassName, listClassName, itemClassName, iconAreaClassName, iconClassName, ...items)
  div(class=socialClassName)
    ul(class=listClassName)
      each item in items
        li(class=itemClassName)
          div(class=iconAreaClassName)
            +icon(item, iconClassName)