mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav(navClassName, ulClassName, liClassName, ...items)
  nav(class=navClassName)
    ul(class=ulClassName)
      each item in items
        li(class=liClassName)&attributes(attributes)= item

mixin tags(ulClassName, liClassName, spanClassName, ...items)
  ul(class=ulClassName)
    each item in items
      li(class=liClassName)
        span(class=spanClassName)&attributes(attributes)= item

mixin addField(nameClassName, nameValue, valueClassName, iconAreaClassName, iconPath, iconClassName)
  div(class=iconAreaClassName)&attributes(attributes)= nameValue
    +icon(iconPath, iconClassName)
  div(class=nameClassName)
  div(class=valueClassName)

mixin pieChart(power, name)
  div(class='pie-wrapper progress-45 styler')
    span.label&attributes(attributes)= power
    div.pie
      div(class='left-side half-circle')
      div(class='right-side half-circle')
    div.shadow

mixin social(socialClassName, listClassName, itemClassName, iconClassName, ...items)
  div(class=socialClassName)
    ul(class=listClassName)
      each item in items
        li(calss=itemClassName)
          +icon(item, iconClassName)