mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav(navClassName, ulClassName, liClassName, linkClassName, ...items)
  nav(class=navClassName)
    ul(class=ulClassName)
      each item in items
        li(class=liClassName)
          a(class=linkClassName href="#")&attributes(attributes)= item

mixin tags(ulClassName, liClassName, spanClassName, ...items)
  ul(class=ulClassName)
    each item in items
      li(class=liClassName)
        span(class=spanClassName)&attributes(attributes)= item

mixin addField(nameClassName, nameValue, valueClassName, placeholderValue, iconAreaClassName, iconPath, iconClassName)
  label.field__label
    div(class=iconAreaClassName)
    span(class=nameClassName)&attributes(attributes)= nameValue
  div.field__box
    div(class=iconAreaClassName)
      +icon(iconPath, iconClassName)
    input(class=valueClassName type='text' placeholder=placeholderValue required)

mixin pieChart(power, name)
  div(class='pie-wrapper progress-45 styler')
    span.label&attributes(attributes)= power
    div.pie
      div(class='left-side half-circle')
      div(class='right-side half-circle')
    div.shadow

mixin social(socialClassName, listClassName, itemClassName, iconAreaClassName, iconClassName, ...items)
  div(class=socialClassName)
    ul(class=listClassName)
      each item in items
        li(class=itemClassName)
          div(class=iconAreaClassName)
            +icon(item, iconClassName)

mixin indicator(indicatorPower=50, indicatorText="new")
  -var persentage = indicatorPower + ` ` + (100 - indicatorPower)
  div(class="indicator__circle-area")
    div(class="indicator__text-area")
      span(class="indicator__text")&attributes(attributes)= indicatorText
    svg(width="100%" height="100%" viewBox="0 0 42 42" class="indicator__circle")
      linearGradient#circleGradient(x1="0%" y1="0%" x2="0%" y2="100%")
      circle(class="indicator__circle-hole" cx="21" cy="21" r="15.91549430918954" fill="none")
      circle(class="indicator__circle-ring" cx="21" cy="21" r="15.91549430918954" fill="none" stroke="#d2d3d4" stroke-width="3")
      circle(class="indicator__circle-segment" cx="21" cy="21" r="15.91549430918954" fill="none" stroke="#9300e8" stroke-width="5" stroke-dasharray=persentage stroke-dashoffset="50")
  
mixin pictureParallax(parallaxName, className)
  picture(class=className)
    source(srcset=require(`images/parallax/${parallaxName}.png`) media="screen and (min-width: 769px)")
    img(srcset="" class=className)

mixin picture(path, className)
  picture(class=className)
    source(srcset=require(`images/${path}320.jpg`) media="screen and (max-width: 480px)")
    source(srcset=require(`images/${path}768.jpg`) media="screen and (max-width: 768px)")
    img(srcset="" class=className)